{% extends "layout.html" %}

{% block title %}
    Add Book
{% endblock %}

{% block main %}
    <style>
        body
            {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8Jt2xAOxZ0yISj4CVNtEQxnzXfjNsjvIKr5kJC6bBLlN_u45C");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }
    </style>
    <form action="/add_b" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name of Book" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}