{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <style>
            body
            {
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIgdz_46bBjiVPWW8dyr8zgUDTZFn0Es78X2KeafVGs3RECnk5");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }
        </style>
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"> <span class="text-white">See what's trending.</span></h2>
            <p class="lead"><span class="text-white">In this world of budding writters and appreciative readers, it a hard task to keep track of the new and upcoming. let goodreads help you with that.</span> </p>
          <a href="https://www.goodreads.com/">Click here to Visit</a>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"><span class="text-white">Refresh your library.</span></h2>
            <p class="lead"><span class="text-white">buy new books for your library for reasonably cheap prices</span></p>
            <a href="https://www.bookchor.com">Click here to Visit</a>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-white">Young and New</span></h2>
            <p class="lead"><span class="text-white">Find fiction, fan-fiction, fantasy and everything on the new generations mind at Wattpad!  </span></p>
            <a href="https://www.wattpad.com">Click here to Visit</a>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" >
          </div>
        </div>


        <!-- /END THE FEATURETTES -->

{% endblock %}
